# Schemes
FortuneCollective.xcodeproj/xcshareddata/xcschemes/

# Build files and folders
build/
*.build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# Xcode
.DS_Store
*.swp
*~.nib
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
project.xcworkspace/

# Sensitive configuration files
GoogleService-Info.plist
GoogleService-Info-*.plist
