<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDS_4nAkSng3K7Yj1qp3RUPuMseBEHSb4A</string>
	<key>GCM_SENDER_ID</key>
	<string>96354836529</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rayconghou.FortuneCollective</string>
	<key>PROJECT_ID</key>
	<string>fortune-e1c59</string>
	<key>STORAGE_BUCKET</key>
	<string>fortune-e1c59.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:96354836529:ios:b062eb8713ff22dd88b510</string>
</dict>
</plist>
