<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<!-- Korosu Font -->
		<string>Korosu.ttf</string>
		
		<!-- Satoshi Font Family -->
		<string>Satoshi-Black.ttf</string>
		<string>Satoshi-BlackItalic.ttf</string>
		<string>Satoshi-Bold.ttf</string>
		<string>Satoshi-BoldItalic.ttf</string>
		<string>Satoshi-Italic.ttf</string>
		<string>Satoshi-Light.ttf</string>
		<string>Satoshi-LightItalic.ttf</string>
		<string>Satoshi-Medium.ttf</string>
		<string>Satoshi-MediumItalic.ttf</string>
		<string>Satoshi-Regular.ttf</string>
		
		<!-- The Last Shuriken Font -->
		<string>The Last Shuriken.ttf</string>
	</array>
</dict>
</plist>
